@model RegisterViewModel


<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1>Register</h1>
                </div>

                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Nom" class="control-label"></label>
                        <input asp-for="Nom" class="form-control" />
                        <span asp-validation-for="Nom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Prenom" class="control-label"></label>
                        <input asp-for="Prenom" class="form-control" />
                        <span asp-validation-for="Prenom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Adresse" class="control-label"></label>
                        <input asp-for="Adresse" class="form-control" />
                        <span asp-validation-for="Adresse" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>


    #loginForm {
        max-width: 300px;
        margin: 0 auto; /* Center the form horizontally */
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 8px; /* Reduced padding */
        font-size: 14px; /* Reduced font size */
        border: 1px solid #fff;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #fff;
        color: #fff;
        left: initial;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

</style>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}