@{
    ViewData["Title"] = "Home Page";
}
<!-- home page slider -->
	<div class="homepage-slider">
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">economic and original</p>
								<h1>One-year warranty</h1>
								<div class="hero-btns">
								<a asp-area="" asp-controller="Client" asp-action="Index" class="boxed-btn">Household Appliances Collection</a>
								<a asp-area="" asp-controller="Client" asp-action="help" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<li>
			

		</li>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">New Everyday</p>
								<h1>Modern appliances can simplify household tasks</h1>
								<div class="hero-btns">
								<a asp-area="" asp-controller="Client" asp-action="Index" class="boxed-btn">Visit Shop</a>
								<a asp-area="" asp-controller="Client" asp-action="help" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-3">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-right">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle"> 100% economic </p>
								<h1>To save time and energy</h1>
								<div class="hero-btns">
								<a asp-area="" asp-controller="Client" asp-action="Index" class="boxed-btn">Visit Shop</a>
								<a asp-area="" asp-controller="Client" asp-action="help" class="bordered-btn">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




<div class="list-section pt-80 pb-80">
	<div class="container">

		<div class="row">
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-shipping-fast"></i>
					</div>
					<div class="content">
						<h3>Free Shipping</h3>
						<p>When order over 75 dt</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-phone-volume"></i>
					</div>
					<div class="content">
						<h3>24/7 Support</h3>
						<p>Get support all day</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="list-box d-flex justify-content-start align-items-center">
					<div class="list-icon">
						<i class="fas fa-sync"></i>
					</div>
					<div class="content">
						<h3>Refund</h3>
						<p>Get refund within 3 days!</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div> 


<div class="product-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3><span class="orange-text">Our</span> Products</h3>

				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="single-product.html"><img src="~/assets/img/products/rep.jpg" alt="" style="height: 330px;"></a>
					</div>
					<h3>Dupray Neat</h3>
					<p class="product-price"><span</span> 185dt </p>
					<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="single-product.html"><img src="~/assets/img/products/m3.jpg" alt="" style="height: 330px;"></a>

					</div>

					<h3>H.Koenig Cuiseur</h3>
					<p class="product-price"><span></span> 700dt </p>
					<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="single-product.html"><img src="~/images/ref.png" alt=""></a>
					</div>
					<h3>Air frayer</h3>
					<p class="product-price"><span></span> 300dt</p>
					<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end product section -->
<!-- cart banner section -->
<section class="cart-banner pt-100 pb-100">
	<div class="container">
		<div class="row clearfix">
			<!--Image Column-->
			<div class="image-column col-lg-6">
				<div class="image">
					<div class="price-box">
						<div class="inner-price">
							<span class="price">
								<strong>30%</strong> <br>
							</span>
						</div>
					</div>
					<img src="~/assets/img/products/m4.jpg" alt="" style="hight:60px">
				</div>
			</div>
			<!--Content Column-->
			<div class="content-column col-lg-6">
				<h3><span class="orange-text">Deal</span> of the month</h3>
				<h4></h4>
				<div class="text">Cecotec Machine à café Espress Power Espresso Professionale. 850 W, 20 bars de Pression, Manomètre, 1.5L, Bras Double Sortie, Buse vapeur, Plateau Réchauffe-tasses, Finitions en Acier Inoxydable</div>
				<!--Countdown Timer-->
				<div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
				<a href="cart.html" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
			</div>
		</div>
	</div>
</section>
<!-- end cart banner section -->
<!-- testimonail-section -->
<!-- end testimonail-section -->
<!-- advertisement section -->
<div class="abt-section mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="abt-bg">
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="abt-text">
					<p class="top-sub">Since Year 2020</p>
					<h2>We are <span class="orange-text">M&K electro</span></h2>
					<p>Our mission is to provide you with household appliances that simplify your life and enhance your comfort, all while respecting the environment. We take pride in our commitment to innovation, quality, and customer service.</p>
					<p>We look forward to continuing to provide you with innovative solutions for years to come.</p>
					<a href="about.html" class="boxed-btn mt-4">know more</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end advertisement section -->
<!-- shop banner -->
<section class="shop-banner">
	<div class="container">
		<h3>December sale is on! <br> with big <span class="orange-text">Discount...</span></h3>
		<div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>
		<a asp-area="" asp-controller="Client" asp-action="Index" class="cart-btn btn-lg">Shop Now</a>
	</div>
</section>
<!-- end shop banner -->
		</div>
	</div>
